---
import Navigation from "./Navigation.astro";
---
<header>
    <nav class="flex items-center justify-between flex-wrap p-6">
        <div class="flex items-center flex-shrink-0 mr-6">
            <div id="logo">alyssa.cserei.net/</div>
        </div>
        <div class="block lg:hidden">
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <Navigation />
        </div>
      </nav>
</header>