:root{
    --accent-color: #FFEB3B;
    --text: #212121;
    --bg-color: #E5E5E5;

}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fantasque Sans Mono', 'Consolas', Courier, monospace;
    color: var(--text);
    background-color: var(--bg-color);
    font-size: 18pt;
}
a {
    color: var(--text);
}

.highlight {
    font-weight: bold;
    font-style: italic;
    background-color: var(--accent-color);
    padding: 0.25rem;
}

.tagline {
    font-size: 72px;
    padding: 4rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;

}
header li{
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
}

#logo{
    display:inline-block;
    font-weight: bold;
    font-style: italic;
    background-color: var(--accent-color);
    padding: 0.25rem;
}
.links{
    display: flex;
    list-style: none;
}

.links a{
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.links a:hover{
    color: var(--accent-color);
    background-color: var(--text);
}

@media (max-width: 800px) {
    header {
      flex-direction: column;
    }
    .links {
        flex-direction: column;
    }
    .links li{
        font-size: 2rem;
        padding: 1rem;
    }
  }