:root{
    --accent-color: #FFEB3B;
    --text: #212121;
    --bg-color: #E5E5E5;

}
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url(fonts/FantasqueSansMono-Regular.ttf) format('truetype');
}

body {
    font-family: 'Fantasque Sans Mono', 'Consolas', Courier, monospace;
    color: var(--text);
    background-color: var(--bg-color);
    font-size: 18pt;
}
a {
    color: var(--text);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.highlight {
    font-weight: bold;
    font-style: italic;
    background-color: var(--accent-color);
    padding: 0.25rem;
}

.tagline {
    font-size: 36px;
    padding: 6rem;
    align-items: center;
}

#logo{
    display:inline-block;
    font-weight: bold;
    font-style: italic;
    background-color: var(--accent-color);
    padding: 0.25rem;
}