---
const pageTitle = "Alyssa Plan Cserei | cserei.net";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle={pageTitle}>
  <p class="tagline">
    <img src="/me.png" class="mx-auto mb-8" width="350px" />
    Hello! I'm <span class="highlight">Alyssa Plan Cserei</span>. I'm a
    <i>full-stack</i>
    software engineer and game developer based in Wilmington, Delaware. I've got
    a Master of Computer Science (MCS) from Arizona State University, and a Bachelor's
    in Computer Science at Rutgers University. In addition to writing code, I write
    poetry, I play bass, and on Thursday nights I do both. I am currently slinging
    code at <a href="https://thegbsgroup.us">The GBS Group</a>!
  </p>
</Layout>
